{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Expense Tracker Dashboard</title>


<!-- Flatpickr Calendar CSS -->
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% include "styles.html" %}

</head>

<body>

<!-- Sidebar -->

<div class="sidebar">

<div class="sidebar-profile">

    <img src="{% static 'images/user.png' %}" class="profile-img">

    <div class="profile-name">
            {% if request.user.is_authenticated %}
                {{ request.user.username }}
            {% else %}
                Guest
            {% endif %}
        </div>

        <!-- LOGIN / LOGOUT BUTTON -->
        <div style="margin-top:10px; text-align:center;">

            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="margin-top:10px;">
                    {% csrf_token %}
                    <button type="submit" class="action-btn" style="width:100%;">
                        Logout
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="action-btn" style="display:block;">
                    Login
                </a>
            {% endif %}

        </div>

</div>

<a href="{% url 'dashboard' %}" class="active">Tracker Dashboard</a>
<a href="{% url 'expenses_list' %}">Expenses</a>
<a href="{% url 'categories_list' %}">Categories</a>
<a href="{% url 'budgets_list' %}">Budgets</a>
<a href="{% url 'receipts_list' %}">Receipts</a>
<a href="{% url 'chatbot' %}">AI Assistant</a>

</div>


<!-- Main Page Content -->

<div class="main-content">

<div class="dashboard-header">

<h1 class="dashboard-title">

    <img src="{% static 'images/logo.png' %}" class="dashboard-logo">

    Expense Tracker Dashboard

</h1>

<div class="date-filter">
<input type="text" id="dateRange" placeholder="Filter by Date" value="{{ selected_dates }}">
</div>

</div>

{% if budget_message %}

<div class="budget-alert 
    {% if budget_level == 'danger' %}budget-danger
    {% elif budget_level == 'high' %}budget-high
    {% elif budget_level == 'medium' %}budget-medium
    {% else %}budget-low
    {% endif %}
">

    <strong>{{ budget_message }}</strong>

    <div class="budget-bar">
        <div class="budget-fill fill-{{ budget_level }}"
            style="width: {{ budget_percent }}%;">
        </div>
    </div>
</div>

{% endif %}


<!-- Cards -->

<div class="cards">

<div class="card-box">
<div class="card-value">${{ total_expenses }}</div>
<div class="card-title">Total Expenses</div>
</div>

<div class="card-box">
<div class="card-value">{{ total_records }}</div>
<div class="card-title">Total Records</div>
</div>

<div class="card-box">
<div class="card-value">{{ total_categories }}</div>
<div class="card-title">Categories Used</div>
</div>

<div class="card-box">
<div class="card-value">${{ total_spending }}</div>
<div class="card-title">Total Spending</div>
</div>
</div>

<!-- Charts Section -->
{% include "charts.html" %}

</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>

flatpickr("#dateRange", {
    mode: "range",
    dateFormat: "Y-m-d",
    
    defaultDate: "{{ selected_dates }}".includes(" to ") 
        ? "{{ selected_dates }}".split(" to ") 
        : null,

    onClose: function(selectedDates, dateStr) {
        if (selectedDates.length === 2) {
            window.location.href = "?dates=" + dateStr;
        }
    },
    
    
    onOpen: function() {
        if ("{{ selected_dates }}") {
            // User clicked input while filter is active → clear it
            window.location.href = "/";
        }
    }
});

</script>

</body>
</html>

{% include 'chatbot_widget.html' %}